*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex

# Android Studio
.navigation/
/*/build/
/*/*/build/
/*/local.properties
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/misc.xml

# Keystore files
*.jks
*.keystore

# Log/OS Files
*.log
Thumbs.db

# Kotlin
.kotlin/
